.category-list-item {
  background-color: rgb(222, 222, 222);
  list-style-type: none;
  margin: 10px 0px;
  padding: 5px 5px;
}

.categories-list {
  margin: 0px 20px 0px 20px;
  padding: 0px 20px;
}
