.review-card {
  list-style-type: none;
  padding: 20px 20px;
  font-size: 16px;
  border-radius: 10px;
  max-width: 500px;
  margin: 10px auto;
}

.review-list-created-at {
  font-size: 0.8em;
}

.comment-card {
  list-style-type: none;
  font-size: 0.6em;
  padding: 15px 15px;
  margin: 15px 15px 0px 15px;
  max-width: 350px;
  margin: 10px auto;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.thumbs-up-outline {
  padding-right: 15px;
}

.vote-comment-count {
  display: flex;
  justify-content: space-between;
}

.comment-form-textarea {
  width: 75vw;
  max-width: 500px;
}

.comment-body {
  font-size: 0.8rem;
  font-weight: normal;
  padding-bottom: 20px;
}

.comment-name-date {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.redirect {
  color: blue;
}

.message {
  margin-top: 5vh;
}

.review-card-category {
  padding: 5px;
  color: rgb(45, 103, 220);
  font-weight: 600;
}

.review-card-designer {
  padding-top: 5px;
  font-weight: 600;
}

.comments-title {
  padding-bottom: 10px;
}
