.review-list-main {
  margin: 0px 10px 0px 10px;
  padding: 0px;
}

.reviews-list {
  list-style-type: none;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px;
}

.review-list-item {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(222, 222, 222);
  list-style-type: none;
  /* margin: 15px 15px 0px 15px; */
  padding: 20px 20px;
  font-size: 16px;
  border-radius: 10px;
  max-width: 500px;
  margin: 10px auto;
}

.review-list-title {
  margin: 0px;
  padding: 10px 5px;
  font-size: 1.5em;
}

.review-list-photo {
  width: 45vw;
  max-width: 350px;
}

.review-list-category {
  font-size: 0.85rem;
}

.all-reviews-header {
  margin: 0px;
  padding: 10px;
  text-transform: capitalize;
  font-family: "Short Stack", cursive;
}

.review-list-comment-count {
  margin: 0px;
  padding: 0px 0px 0px 5px;
}

.review-list-votes {
  display: flex;
  justify-content: space-between;
}

.comment-count {
  display: flex;
  align-items: center;
}

.name-created-at {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* .review-list-category {
  color: rgb(9, 110, 192);
} */

button,
.sort-by {
  z-index: -1;
}

.sort-by {
  width: auto;
  max-width: 300px;
  display: inline-block;
}

/* @media screen and (min-width: 600px) {
  .review-list-photo {
    width: 45vw;
  }
} */
