.user-profile-photo {
  width: 200px;
  margin: 50px 0px;
}

.user-profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0px;
}

.user-profile-username {
  font-size: 1rem;
  font-weight: normal;
}

.user-profile-review {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: fit-content;
  /* transform: translateX(20vw); */
  /* position: relative; */
  margin: 20px auto;
}

.user-profile-review-photo {
  width: 120px;
  object-fit: contain;
  margin-bottom: 25px;
}

.user-profile-review-info {
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
  padding: 15px;
  width: 150px;
}

.user-profile-review-list {
  margin: 10px;
  padding: 10px;
}
